{% extends 'base.html' %}

{% block content %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Enabled</th>
      <th scope="col">Temperature, C°</th>
      <th scope="col">Fan</th>
      <th scope="col">Clock</th>
      <th scope="col">GPU Voltage</th>
      <th scope="col">GPU Activity</th>
      <th scope="col">MHS</th>
      <th scope="col">Accepted</th>
      <th scope="col">Rejected</th>
      <th scope="col">Hardware Errors</th>
    </tr>
  </thead>
  <tbody>
    {% for line in data %}
      <tr>
        <th scope="row">{{ line.msg }}</th>
        <td>{{ line.enabled }}</td>
        <td>{{ line.temperature }}</td>
        <td>{{ line.fan_speed }}, {{ line.fan_percent }}%</td>
        <td>{{ line.gpu_clock }}, {{ line.memory_clock }}</td>
        <td>{{ line.gpu_voltage }}</td>
        <td>{{ line.gpu_activity }}</td>
        <td>{{ line.mhs }}, {{ line.mhs_30s }}</td>
        <td>{{ line.accepted }}</td>
        <td>{{ line.rejected }}</td>
        <td>{{ line.error }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}