{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}
{% block pagetitle %}{{ data.title }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h4>{{ data.title }}</h4>
        <div class="row">
            <div class="col-lg-6">
                <a href="{% url 'informer:informer_update' object.pk %}"
                   class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Update Informer</a>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'informer:informer_delete' object.pk %}"
                   class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Delete Informer</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Enabled</th>
                <th scope="col">Temperature, C°</th>
                <th scope="col">Fan (speed, percent)</th>
                <th scope="col">Clock (gpu, memory)</th>
                <th scope="col">GPU Voltage</th>
                <th scope="col">GPU Activity</th>
                <th scope="col">MHS (mhs, mhs 30s)</th>
                <th scope="col">Accepted</th>
                <th scope="col">Rejected</th>
                <th scope="col">Hardware Errors</th>
            </tr>
            </thead>
            <tbody>
            {% for line in data.info_gpu %}
            <tr>
                <th scope="row">{{ line.msg }}</th>
                <td>{{ line.enabled }}</td>
                <td>{{ line.temperature }}</td>
                <td><p>{{ line.fan_speed }}</p>
                    <p>{{ line.fan_percent }}%</p></td>
                <td><p>{{ line.gpu_clock }}</p>
                    <p>{{ line.memory_clock }}</p></td>
                <td>{{ line.gpu_voltage }}</td>
                <td>{{ line.gpu_activity }}</td>
                <td><p>{{ line.mhs }}</p>
                    <p>{{ line.mhs_30s }}</p></td>
                <td>{{ line.accepted }}</td>
                <td>{{ line.rejected }}</td>
                <td>{{ line.error }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"
      integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g=="
      crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
        integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
        crossorigin="anonymous"></script>
<div class="d-flex">
{% for data in data_graph_gpu %}
{% for key, value in data.items %}

    <div class="">
        <canvas id="myChart{{key}}" ></canvas>
    </div>
    {% include 'collector/chart_html.html' with gpu_title=key os_x=value.0 os_y=value.1 %}

{% endfor %}
{% endfor %}
</div>



{% endblock %}