{% extends "registration/auth.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<h1 class="auth-title">Log in.</h1>
<p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>

    <input type="hidden" class="btn btn-primary" name="next" value="{{ next }}"/>
</form>
<div class="text-center mt-5 text-lg fs-4">
    <p class="text-gray-600">Don't have an account? <a href="{% url 'django_registration_register' %}"
                                                       class="font-bold">Sign up</a>.</p>
    <p><a class="font-bold" href="{% url 'password_reset' %}">Forgot password?</a>.</p>
</div>
{% endblock %}